<div class="tab">
  <div class="line">
    <label for="input_n_czlonkow">Liczba członków: </label>
    <input id="input_n_czlonkow" type="number" [(ngModel)]="this.liczba_czlonkow">
  </div>
  <div class="line">
    <h3>Do rachunku <em>{liczba_czlonkow, plural, one {należy {{liczba_czlonkow}} osoba} few {należą {{liczba_czlonkow}} osoby} many {należy {{liczba_czlonkow}} osób}}</em></h3>
  </div>
  <div class="line">
    <p>Wybierz płeć osoby:</p>
    @for (plec of lista_plci; track lista_plci) {
      <input type="radio" id="input_gender_{{plec[0]}}" name="input_gender" [(ngModel)]="wybrana_plec" [value]=plec[0]>
      <label for="input_gender_{{plec[0]}}">{{plec[1]}}</label>
    }
  </div>
  <div class="line">
    <h3>Jesteś <em>{wybrana_plec, select, M {mu} K {jej} I {im}}</em> winny {{ kwota | currency : "PLN" }}.</h3>
  </div>
</div>
