<div>
  <button (click)="changeModeWydatki()" i18n="karta wydatki|nazwa karty wydatki na przycisku otwierającym kartę@@identyfikator03">Wydatki</button>
  <button (click)="changeModeCzlonkowie()" i18n="karta czlonkowie|nazwa karty czlonkowie na przycisku otwierającym kartę@@identyfikator04">Członkowie</button>
  <button (click)="changeModeRozliczenia()" i18n="karta rozliczenia|nazwa karty rozliczenia na przycisku otwierającym kartę@@identyfikator05">Rozliczenia</button>
</div>
@if (mode == 0) {
  <app-tab-wydatki></app-tab-wydatki>
}
@if (mode == 1) {
  <app-tab-czlonkowie></app-tab-czlonkowie>
}
