* {
  --text-color: #fdfdfd;
  --background-color: #686868;
  --text-size: 2rem;
}

div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 5px 0;
  background: var(--background-color);
  color: var(--text-color);
  font-size: var(--text-size);
}
